
/* ========== VARIABLES -- FONTS -- OVERALL STYLES ========= */

/* == FONTS  & ICONS == */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Kelly+Slab&family=Megrim&family=Merriweather&family=Nosifer&family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


/* == Variables == */
:root {
  /* main-bg-color -- second-bg-color -- third-bg-color */
  --main-color: #F0F2F1;
  --second-color: #F9FBF2;
  --third-color: #EBFCFF;

  /* font-size -- text-color -- link-color -- link:hover-color */
  --font-size: .9rem;
  --text-color: rgba(17, 21, 22, 0.733);
  --link-color: #ED254E;
  --link-hover: cornflowerblue;

  /* spacing -- sm-spacing -- big-spacing */
  --spacing: 1rem;
  --sm-spacing: .618rem;
  --big-spacing: calc(var(--spacing) * 3);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Trebuchet MS', sans-serif;
  font-size: var(--font-size);
  line-height: 1.2;
  overflow-x: hidden;
  background-color: var(--main-color);
  width: 100vw;
  height: 100%;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #2371E7
}
/* ========== TYPOGRAPHY -- LINKS -- ICONS -- FIGCAPTIONS ========= */

p, a {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
}

p {
  color: var(--text-color);
  letter-spacing: -0.25px;  
}

/* .service-details p {
  font-family: 'Inconsolata', 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
} */

h1, h2, h3, h4, h5, h6 {text-align: center;}

h1 {
  font-family: 'Nosifer', 'Merriweather', Georgia, serif;
  margin: 0;
  font-size: calc(var(--font-size) * 1.75);
  color: #2371E7;
}

h2, h3, h4, h5, h6 {
  font-family:  'Merriweather', Georgia, serif;
  color: rgb(7, 46, 105);
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
h2 {
  font-size: calc(var(--font-size)*1.3);
  opacity: .85;
}

h3, h4 {
  font-size: calc(var(--font-size)*1.2);
  opacity: .75;
}

label {
  font-size:  calc(var(--font-size)*1.1);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:not(.logo a):not(.order a):hover {
  color: var(--link-hover);
}

.logo a {
  font-family: 'Kelly Slab', Cambria, Cochin, Georgia, serif;
  font-size: 1.2rem;
  font-weight: 900;
  color: #2371E7;
  padding: 0 ;
  text-transform: uppercase;
}

.nav-link, button a {
  font-size: calc(var(--font-size) * 1.1);
}

.nav-link {
  display: block;
  padding: 15px 0 5px;
  color:rgba(3, 3, 3, 0.932);
  box-shadow: 0 2px rgba(3, 3, 3, 0.226);
  text-align: center;
  text-transform: capitalize;
}

figcaption {
  font-size: calc(var(--font-size) * .8);
  color:rgba(23, 23, 93, 0.5)
}

/* icon */

i {
  color: #222;
}

.bi {
  transform: scale(2);
  padding: 0 5px; 
}

/* social-media icons */

.bi-twitter:hover {color: rgb(8, 171, 235)}
.bi-linkedin:hover {color: rgb(21, 70, 143)}
.bi-instagram:hover {color: rgb(248, 16, 47)}

.bi-lightbulb-fill:hover {
  color: rgb(238, 184, 5);
}

/* Buttons */

input[type="submit"], button a {
  padding: var(--sm-spacing) var(--spacing);
}

button {
  background-color: var(--second-color);
  border: 2px solid #2371E7;
  margin: var(--sm-spacing);
  border-radius: 4px;
  transition: border-color .5s ease-in;
}

button a {
  display: block;
  margin: 0;
  width: 100%;
  color: #2371E7;
  transition: color .3s ease-in;
}
button:hover {
  background-color: #2371E7;
  border-color: white;
} 

.order:hover a {color: white}

input[type="submit"] {
  display: block;
  width: 100px;
  background-color: #2371E7;
  color: var(--main-color);
  font-size: calc(1.5 * var(--font-size));
  border: 2px solid #2371E7;
  margin: var(--spacing) auto;
  text-align: center;
}

input[type="submit"]:hover {
  color: #2371E7;
  background-color: var(--main-color);
}
/* ========== LAYOUTS ========= */

.container {
  width: 100%;
}

.header, article, footer {
  background-color: var(--second-color);
}

/* == HEADER == */
header {
  min-height: 50px; 
  width: 100vw;
} 

.header {
  position: fixed; 
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: var(--sm-spacing);
  z-index: 5;
  border-bottom: 1px solid rgba(3, 3, 3, 0.226); 
}

.logo, .nav-bar, .header-button {
  padding: 0 var(--sm-spacing);
  margin: 0;
}

.logo, .nav-bar {
  grid-column: 1 / span 6;
}

.logo {
  height: 49px;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar, .header-button {
  display: none;
}

.header-button {
  grid-column: span 3;
  padding-bottom: var(--sm-spacing);
}

.header-button button {
  border-width: 2px;
  margin: unset;
  width: 80%; 
  max-width: 150px;
  /* background-color: unset; */
}


/* == MAIN == */

/*= Welcome =*/

div.welcome {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 75vh;
  max-height: 750px;
}

.welcome img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.welcome .desc {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 75%;
  max-width: 400px
}

.welcome p {
  color: var(--second-color);
  font-size: calc(var(--font-size) * 3);
  font-family: 'Megrim', "Poppins", sans-serif;
  text-shadow: .618px -2px 1px rgb(8, 8, 8);
}

/*** ====== GRID ====== ****/

.grid {
  display: grid;
  column-gap: var(--big-spacing);
  row-gap: var(--spacing);
}

.two-cols {
  grid-template-columns: 1fr 1fr;
}

.sm-span-2 {
  grid-column: span 2;
}

/*= Hakkimizda =*/

section, article, input[type="submit"], #hakkimizda img {
  border-radius: .5rem;
}

section {
  margin: var(--big-spacing) auto;
  width: 85vw;
  max-width: 500px;
  padding: calc(var(--spacing) * 2) var(--spacing);
  animation: appear 1s ease-in;
  background-color: var(--third-color);
}


.grid article {
  padding: var(--spacing) var(--sm-spacing);
  margin: var(--spacing) 0;
  overflow: hidden;
  position: relative;
  overflow-y: auto;
  text-overflow: ellipsis;
  max-height: 60vh; 
}

.description {
  padding: var(--sm-spacing);
  transition: display 2s ease-in;
}

article:hover .description{
  display: block;
}

article figure {
  padding: var(--sm-spacing) 0 var(--spacing);
  text-align: center;
}

.profile-picture {
  width: 75%;
  margin: 0 auto var(--sm-spacing);
  border-radius: 50%;
}

.languages {
  display: flex;
  flex-direction: column;
  margin-left: var(--big-spacing);
}

.languages li:first-child {
  list-style-image: url('images/List-Icons/html_code_slash.svg');
}

.languages li:nth-child(2) {
  list-style-image: url('images/List-Icons/css-braces-asterisk.svg');
}

.languages li:nth-child(3) {
  list-style-image: url('images/List-Icons/filetype-js.svg');
}

#hakkimizda img {
  width: 90%;
  border: 1px solid #9aa;
}

article:hover, .mail-us {
  box-shadow: 0 2px 12px rgba(0, 0, 0, .19), 0 4px 6px rgba(0, 0, 0, .2)
}

/** == Bize Ulasin == **/

.mail-us:hover {
  border: 2px solid #2371E7;
  box-shadow: unset;
}

.mail-us form {
  margin: var(--spacing) auto;
  overflow: hidden;
}

.form-input {
  min-height: 2rem;
  margin: var(--sm-spacing) 0;
  place-items: stretch flex-start;
}

.form-input input, textarea {
  width: 100%;
  border: 1px solid #7794;
  border-radius: 2px;
}

textarea {
  resize: vertical;
}

/** == FOOTER == **/

footer {
  /* margin-top: var(--sm-spacing); */
  padding: var(--spacing);
  box-shadow: 0 -1px 4px #344;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 50%;
  max-width: 100px;
  margin: 0 auto var(--sm-spacing);
}

/* ========== MEDIA QUERIES ========= */

@media only screen and (min-width: 650px) {

  :root {
    --font-size: 1rem
  }
  section:not(.mail-us) {
    width: 90vw;
    max-width: 850px;
  }
  .sm-span-2 {
    grid-column: unset;
  }
  input[type="submit"] {
    width: 150px;
  }
}

@media only screen and (min-width: 900px) {
  :root {
    --font-size: 1.1rem;
  }

  input[type="submit"] {
    width: 200px;
  }

  .logo, .nav-bar {
    grid-column: unset;
    padding: unset;
  }

  .header {
    padding: var(--spacing);
  }
  .bi-list {
    display: none;
  }

  .nav-bar, .header-button {
    display: block;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .nav-bar {
    grid-column: span 4;
    justify-content: center;
  }

  .nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-link {
    padding: 0 var(--spacing);
    box-shadow: unset;
    text-align: center;
  }
  
  .header-button {
    grid-column: 6 / 7;
    padding: unset;
    justify-content: space-around;
  }
  .languages {
    flex-direction: row;
    justify-content: space-around;
    margin: var(--sm-spacing) auto;
  }
}

@media only screen and (max-width: 300px) {
  :root {
    --font-size: .75rem;
  }
} 
